venv/
.env
**/__pycache__/
remotion/node_modules/
remotion/public/video.mp4
remotion/public/voiceover/
output/
.claude/
input/
models/
.DS_Store
remotion/out/
docs/
**/tmp**.json
**/latest_storyboard**.json